.hero{
    position: relative;
}
.banner-img{
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 75%);
    -weblit-mask-image: linear-gradient(to right, transparent, black 75%);
}
.hero-caption{
    position: fixed;
    width: 100%;
    padding-left: 6%;
    bottom: 0;
}
.caption-img{
    width: 90%;
    margin-bottom: 30px;
    max-width: 420px;
}
.hero-caption p{
    margin-bottom: 30px;
    display: block;
    max-width: 700px;
    font-size: 17px;
}