.navbar{
    width: 100%;
    height: 68px;
    padding: 0 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    font-size: 14px;
    color: #e5e5e5;
    background: linear-gradient(
        180deg,
        rgba(0,0,0,0.7) 10%,
        rgba(0,0,0,0)
    );
    z-index: 1000;
}

.navbar-left{
    display: flex;
    align-items: center;
    gap: 70px;
}

.navbar-left img{
    width: 90px;
}

.navbar-left ul{
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.navbar-left ul li{
    cursor: pointer;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.icons{
    width: 20px;
    cursor: pointer;
}

.profile{
    width: 35px;
    border-radius: 4px;
}

.navbar-profile{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

/* for the dropdown at while clicking it at menu */
.navbar .dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1001;
    display: none;
}
.navbar .dropdown p{
    font-size: 13px;
    cursor: pointer;
}

.navbar-profile:hover .dropdown{
    display: block;
}